In [1]:
# Install latest version from GitHub
!pip install -q -U git+https://github.com/jdvelasq/techminer

# Documents by year

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

from techminer import DataFrame, Plot

#
# Data loading
#
df = DataFrame(
    pd.read_json(
        "https://raw.githubusercontent.com/jdvelasq/techminer/master/data/tutorial/"
        + "cleaned-data.json",
        orient="records",
        lines=True,
    )
)

#
# Columns of the dataframe
#
df.columns

In [3]:
#
# Documents by year dataframe
#
df.documents_by_year()

   Year  Num Documents                                                 ID
0  2010              3                                    [142, 143, 144]
1  2011              2                                         [140, 141]
2  2012              2                                         [138, 139]
3  2013              4                               [134, 135, 136, 137]
4  2014              3                                    [131, 132, 133]
5  2015              2                                         [129, 130]
6  2016              5                          [124, 125, 126, 127, 128]
7  2017             19  [105, 106, 107, 108, 109, 110, 111, 112, 113, ...
8  2018             52  [53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 6...
9  2019             53  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...

In [4]:
#
# Documents by year dataframe ID's
#
df.documents_by_year()['ID']

0                                      [142, 143, 144]
1                                           [140, 141]
2                                           [138, 139]
3                                 [134, 135, 136, 137]
4                                      [131, 132, 133]
5                                           [129, 130]
6                            [124, 125, 126, 127, 128]
7    [105, 106, 107, 108, 109, 110, 111, 112, 113, ...
8    [53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 6...
9    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Name: ID, dtype: object

In [5]:
## %matplotlib widget

#
# Bar plot of documents by year
#
Plot(df.documents_by_year()).bar(cmap=plt.cm.Blues)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [6]:
#
# Cumulative number of documents by year
#
df.documents_by_year(cumulative=True)

   Year  Num Documents                                                 ID
0  2010              3                                    [142, 143, 144]
1  2011              5                                         [140, 141]
2  2012              7                                         [138, 139]
3  2013             11                               [134, 135, 136, 137]
4  2014             14                                    [131, 132, 133]
5  2015             16                                         [129, 130]
6  2016             21                          [124, 125, 126, 127, 128]
7  2017             40  [105, 106, 107, 108, 109, 110, 111, 112, 113, ...
8  2018             92  [53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 6...
9  2019            145  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...

In [7]:
## %matplotlib widget

#
# Horizontal bar plot of the cumulative number of documents by year
#
Plot(df.documents_by_year(cumulative=True)).barh()
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [8]:
## %matplotlib widget

#
# Bar plot of the cumulative number of documents by year
#
Plot(df.documents_by_year(cumulative=True)).bar()
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
#  df.documents_by_year().altair_barplot()

In [ ]:
# df.documents_by_year().seaborn_barplot()

In [ ]:
#  df.documents_by_year(cumulative=True).altair_barhplot()

In [ ]:
#  df.documents_by_year(cumulative=True).seaborn_barhplot()

In [ ]:
# df.documents_by_year(cumulative=True).altair_barplot()

In [ ]:
# df.documents_by_year(cumulative=True).seaborn_barplot()